.main-container {
  padding: 10px;
}

.radio-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.button-size{
  transform: scale(1.8);
}

.weather-card-container {
  max-width: 32%;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  margin-left: 35%;
}

.card-timestamp{
  font-size: 14;
  color: rgb(141, 136, 136)
}

.weather-card-container::-webkit-scrollbar {
  width: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.weather-card-container .weather-card-items {
  min-width: 120px;
  margin: 10px;
  cursor: pointer;
  overflow: auto;
  white-space: nowrap;
}

.chart-container{
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


